/* App.css */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.app-container {
  text-align: center;
 
}

.mario-title {
  text-align: center;
  background-color: #fafafa; /* Light background colour */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */

  /* Mario theme colors */
  color: #ff0000; /* Red for Mario's hat */
  text-transform: uppercase;
}
